{% extends "base.html" %}
{% block title %}Linkey | Relax{% endblock %}
{% block style %}
  <style>
    #img{
        height:50vh;
        width:auto;
        padding: 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #centerize{
        text-align: center;
        padding: 1%;
    }
  </style>
{% endblock %}
{% block content %}
    <div class="container" id="centerize">
    <h1 class="display-3">No courses running right now !</h1>
    <h1>Relax and take a break</h1>
    <a class="btn btn-outline-danger" href="/all" role="button">All Courses</a>
    <a class="btn btn-outline-danger" href="/adder" role="button">Add Courses</a>
    <a class="btn btn-outline-danger" href="/remover" role="button">Remove Courses</a>
    <a class="btn btn-outline-danger" href="/sloter" role="button">Timetable</a>
    <br>
    <img src="/static/images/Nature_bg.svg" class="img-fluid text-center" alt="Not Found" id='img'>
    </div>
{% endblock %}