<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="static/images/icon.svg" type="image/svg">

    <title>Linkey | Relax</title>
    <style>
        #img{
            height:50vh;
            width:auto;
            padding: 1%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #centerize{
            text-align: center;
            padding: 1%;
        }
    </style>
  </head>
  <body>
      <br>
      <div class="container" id="centerize">
    <h1 class="display-3">No courses running right now !</h1>
    <h1>Relax and take a break</h1>
    <a class="btn btn-outline-danger" href="/all" role="button">All Courses</a>
    <a class="btn btn-outline-danger" href="/adder" role="button">Add Courses</a>
    <a class="btn btn-outline-danger" href="/remover" role="button">Remove Courses</a>
    <br>
    <img src="/static/images/Nature_bg.svg" class="img-fluid text-center" alt="Not Found" id='img'>
    </div>
</body>
</html>