{% extends "base.html" %}
{% block title %}Linkey | Remove Course{% endblock %}
{% block content %}
    <div class="container">
        <h1>Enter Course Details</h1>
        <form method="POST" action="/remover" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-3">
                {{ form.courseType.label }}
                {{ form.courseType }}
                </div>
                <div class="form-group col-md-6">
                {{ form.courseId.label }}
                {{ form.courseId }}
                </div>
                <div class="form-group col-md-3">
                  {{ form.slot.label }}
                  {{ form.slot }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.Password.label }}
                  {{ form.Password }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
            {{ form.hidden_tag() }}
        </form>
        <hr>
            <div class="alert alert-dark" role="alert">Course Id Needs to be an integer between 1000 and 9999</div>
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                              </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
    </div>
    <script>
        attrs = ["courseType","courseId","slot","Password"];
        for(item in attrs)
        {
          let crs = document.getElementById(attrs[item]);
          crs.classList.add("form-control");
        }
    </script>
{% endblock %}