{% extends "base.html" %}
{% block title %}Linkey | Home{% endblock %}
{% block content %}
      <div class="container">
        <br>
        {% if active != 0%}
        <h1>Courses Added : </h1>
        <ul class="list-group">
        {% for course in data %}
            {% if "meet" in  course.courseLink %}
            <a href="{{course.courseLink}}?authuser={{last_id}}" class="list-group-item list-group-item-action list-group-item-danger" target="_blank">{{ course.courseType }}{{ course.courseId }} : {{ course.courseName }}</a>
            {% else %}
            <a href="{{course.courseLink}}" class="list-group-item list-group-item-action list-group-item-danger" target="_blank">{{ course.courseType }}{{ course.courseId }} : {{ course.courseName }}</a>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <h3 class = "text-center"> ~ No active courses right now ~ </h3>
        {% endif%}
    </div>
{% endblock %}