{% extends "base.html" %}
{% block title %}Linkey | Change Preference{% endblock %}
{% block content %}
    <div class="container">
        <h1>Enter Preference for GMeet</h1>
        <h2>Last known id : {{ display_id }}</h2>
        <form method="POST" action="/preferences" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-3">
                {{ form.default_id.label }}
                {{ form.default_id }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
            {{ form.hidden_tag() }}
        </form>
        <hr>
            <!-- <div class="alert alert-dark" role="alert">Course Id Needs to be an integer between 1000 and 9999</div>
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                              </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
    </div> -->
    <script src="/static/scripts/forms.js"></script>
{% endblock %}