{% extends "base.html" %}
{% block title %}Linkey | Slots{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <table class="table table-striped table-dark text-center">
            <thead class="bg-danger">
              <tr>
                <th scope="col">Time range</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">09:00 - 09:55</th>
                <td>A</td>
                <td>D</td>
                <td>B</td>
                <td>C</td>
                <td>E</td>
              </tr>
              <tr>
                <th scope="row">10:00 - 10:55</th>
                <td>B</td>
                <td>E</td>
                <td>C</td>
                <td>A</td>
                <td>F</td>
              </tr>
              <tr>
                <th scope="row">11:00 - 11:55</th>
                <td>C</td>
                <td>F</td>
                <td>A</td>
                <td>B</td>
                <td>D</td>
              </tr>
              <tr>
                <th scope="row">12:00 - 12:55</th>
                <td>D</td>
                <td>G</td>
                <td>G</td>
                <td>E</td>
                <td>G</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <th scope="row">02:30 - 04:00</th>
                <td>P</td>
                <td>R</td>
                <td>F</td>
                <td>Q</td>
                <td>S</td>
              </tr>
              <tr>
                <th scope="row">04:00 - 05:30</th>
                <td>Q</td>
                <td>S</td>
                <td> </td>
                <td>P</td>
                <td>R</td>
              </tr>
            </tbody>
          </table>
    </div>
{% endblock %}